Repository isaacchunn/wanderers, changes with the owners that docs/CODEOWNERS names for each.
All owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

docs/CODEOWNERS:

# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners for more information on CODEOWNERS documentation.

# Team Members
# Project Manager + QA: Seo Jin - @kimtorl
# BE + FE: Jsen - @Jaysenso
# BE + FE: Hazim - @fattycuty
# BE + FE: Miko - @P1935404
# BE + Release: Raghav - @raghavrnair
# Lead + BE: Albert - @Albert481
# QA + Release: Isaac - @isaacchunn

* @isaacchunn

docs        @isaacchunn
README.md   @isaacchunn
scripts     @isaacchunn
labs        @isaacchunn
backend     @Albert481 @fattycuty
frontend    @Jaysenso @P1935404

refactor : Deprecated (update/create)-itinerary-calendar.tsx to reduce code duplication
  .vscode/settings.json
  frontend/src/app/create-itinerary/page.tsx
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/create-itinerary-calendar.tsx
  frontend/src/components/itinerary-title.tsx
  frontend/src/components/update-itinerary-calendar.tsx
Owners: @isaacchunn, @Jaysenso, @P1935404

refactor : Rebased expense-splitter.tsx to src\components
  frontend/src/components/expense-splitter.tsx
Owners: @Jaysenso, @P1935404

Revert "refactor : Rebased expense-splitter.tsx to src\components"
  frontend/src/components/ui/expense-splitter.tsx
Owners: @Jaysenso, @P1935404

refactor : Rebased expense-splitter.tsx to src\components
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/components/expense-splitter.tsx
Owners: @Jaysenso, @P1935404

fix : Resolved sonarqube issues
  frontend/src/app/create-itinerary/page.tsx
  frontend/src/app/home/page.tsx
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/components/activity-container.tsx
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/chat-box.tsx
  frontend/src/components/country-search.tsx
  frontend/src/components/dropdown-menu.tsx
  frontend/src/components/email-input.tsx
  frontend/src/components/expense-splitter.tsx
  frontend/src/components/itinerary-carousel.tsx
  frontend/src/components/itinerary-title.tsx
  frontend/src/components/visibility-selector.tsx
  frontend/src/lib/itineraryHandler.ts
Owners: @Jaysenso, @P1935404

fix : Fixed sonarqube issues
  frontend/src/app/create-itinerary/page.tsx
  frontend/src/components/activity-container.tsx
  frontend/src/components/country-search.tsx
Owners: @Jaysenso, @P1935404

fix : Removed BACKEND_URL
  frontend/src/lib/itineraryHandler.ts
Owners: @Jaysenso, @P1935404

fixed : Fixed sonarqube issues
  frontend/src/components/activity-container.tsx
  frontend/src/components/chat-box.tsx
  frontend/src/components/country-search.tsx
  frontend/src/components/dropdown-menu.tsx
  frontend/src/components/itinerary-carousel.tsx
  frontend/src/components/itinerary-title.tsx
Owners: @Jaysenso, @P1935404

fix : Fixed sonarqube issue
  frontend/src/components/country-search.tsx
Owners: @Jaysenso, @P1935404

fix : Added readonly to itineraryPage prop
  frontend/src/app/itinerary/[id]/page.tsx
Owners: @Jaysenso, @P1935404

fix : Refactored itineraryPage dynamic route prop
  frontend/src/app/itinerary/[id]/page.tsx
Owners: @Jaysenso, @P1935404

fix: Updated itineraryPage param prop
  frontend/src/app/itinerary/[id]/page.tsx
Owners: @Jaysenso, @P1935404

SCEL-116: [FE] Implement API Calling for Itinerary data (#62)
  .vscode/settings.json
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/placeholder.svg
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/create-itinerary/page.tsx
  frontend/src/app/home/page.tsx
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/activity-container.tsx
  frontend/src/components/autocomplete-search.tsx
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/chat-box.tsx
  frontend/src/components/country-search.tsx
  frontend/src/components/dropdown-menu.tsx
  frontend/src/components/email-input.tsx
  frontend/src/components/expense-splitter.tsx
  frontend/src/components/itinerary-carousel.tsx
  frontend/src/components/itinerary-title.tsx
  frontend/src/components/navbar.tsx
  frontend/src/components/sort
  frontend/src/components/ui/radio-group.tsx
  frontend/src/components/visibility-selector.tsx
  frontend/src/lib/constants/countries.json
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/types.ts
  frontend/src/providers/UserProvider.tsx
  frontend/src/store/userStore.ts
Owners: @isaacchunn, @Jaysenso, @P1935404

feat : Added activity creation modal & integrated Google Places API
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/activity-container.tsx
  frontend/src/components/add-place-dialog.tsx
  frontend/src/components/autocomplete-search.tsx
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/country-search.tsx
  frontend/src/components/sortable-itinerary.tsx
  frontend/src/components/sortable-location-card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/lib/activityHandler.ts
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/types.ts
Owners: @Jaysenso, @P1935404

feat: retrieve user information by email
  backend/controllers/user.ts
  backend/routes/user.ts
Owners: @Albert481, @fattycuty

SCEL-148: [BE] Create GET Endpoint to Check Collaborator Existence Before Creating Itinerary (#64)
  backend/controllers/user.ts
  backend/routes/user.ts
Owners: @Albert481, @fattycuty

changed activity schema and updated activity response, added jwt auth middleware for routes
  backend/controllers/activity.ts
  backend/controllers/auth.ts
  backend/controllers/place.ts
  backend/index.ts
  backend/middleware/auth.ts
  backend/prisma/schema.prisma
  backend/routes/activity.ts
  backend/routes/place.ts
  backend/services/activity.ts
  backend/zod/schemas.ts
Owners: @Albert481, @fattycuty

fix sonarqube
  backend/controllers/activity.ts
  backend/middleware/auth.ts
Owners: @Albert481, @fattycuty

fix sonarqube 2
  backend/controllers/activity.ts
Owners: @Albert481, @fattycuty

fix soanrqube 3
  backend/controllers/activity.ts
Owners: @Albert481, @fattycuty

fix: adjust auth permissions for routes
  backend/index.ts
  backend/routes/activity.ts
Owners: @Albert481, @fattycuty

removed req.user check because auth middleware already checksr
  backend/controllers/activity.ts
  backend/controllers/place.ts
  backend/lib/httpCodes.ts
  backend/prisma/schema.prisma
Owners: @Albert481, @fattycuty

fix response code status bug
  Changelog.md
  backend/controllers/activity.ts
  frontend/.env.example
  frontend/.gitignore
Owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

fixed env files
  frontend/.env.example
  frontend/.gitignore
Owners: @Jaysenso, @P1935404

SCEL-149-Changed activity schema and updated activity response, added jwt auth… (#65)
  Changelog.md
  backend/controllers/activity.ts
  backend/controllers/auth.ts
  backend/controllers/place.ts
  backend/lib/httpCodes.ts
  backend/middleware/auth.ts
  backend/prisma/schema.prisma
  backend/routes/activity.ts
  backend/routes/place.ts
  backend/services/activity.ts
  backend/zod/schemas.ts
  frontend/.env.example
Owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

staged user.ts
  backend/controllers/user.ts
Owners: @Albert481, @fattycuty

fix sonarqube issues (#63)
  backend/controllers/user.ts
  frontend/src/app/(auth)/register/page.tsx
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

feat: created PUT endpoints to update profile description and picture
  README.md
  backend/.env.example
  backend/controllers/profile.ts
  backend/index.ts
  backend/middleware/single_upload_file.ts
  backend/package-lock.json
  backend/package.json
  backend/routes/itineraryProtected.ts
  backend/routes/profile.ts
  backend/services/image.ts
  backend/services/profile.ts
  backend/zod/schemas.ts
  frontend/package-lock.json
  frontend/package.json
Owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

fix: set fileSize limit to multer
  backend/middleware/single_upload_file.ts
Owners: @Albert481, @fattycuty

fix: removed unused imports
  backend/controllers/profile.ts
Owners: @Albert481, @fattycuty

SCEL-144: [BE] Setup API for editing profile (#66)
  README.md
  backend/.env.example
  backend/controllers/profile.ts
  backend/index.ts
  backend/middleware/single_upload_file.ts
  backend/package-lock.json
  backend/package.json
  backend/routes/itineraryProtected.ts
  backend/routes/profile.ts
  backend/services/image.ts
  backend/services/profile.ts
  backend/zod/schemas.ts
  frontend/package-lock.json
  frontend/package.json
Owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

feat: protected itinerary routes
  backend/controllers/itinerary.ts
  backend/routes/itineraryProtected.ts
  backend/services/itinerary.ts
Owners: @Albert481, @fattycuty

fix: sonarqube issues
  backend/controllers/itinerary.ts
  backend/services/itinerary.ts
Owners: @Albert481, @fattycuty

fix: sonarqube issues
  backend/controllers/itinerary.ts
  backend/services/itinerary.ts
Owners: @Albert481, @fattycuty

SCEL-150: [BE] Refactor Itinerary Routes (#67)
  backend/controllers/itinerary.ts
  backend/routes/itineraryProtected.ts
  backend/services/itinerary.ts
Owners: @Albert481, @fattycuty

feat: Add activity creation modal with create operation integration
  frontend/.env.example
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/components/activity-container.tsx
  frontend/src/components/add-place-dialog.tsx
  frontend/src/components/location-search.tsx
  frontend/src/components/sortable-itinerary.tsx
  frontend/src/components/sortable-location-card.tsx
  frontend/src/lib/activityHandler.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
  frontend/src/providers/UserProvider.tsx
Owners: @Jaysenso, @P1935404

fix : Fixed sonarqube issues
  frontend/src/components/add-place-dialog.tsx
  frontend/src/components/location-search.tsx
  frontend/src/components/sortable-location-card.tsx
  frontend/src/lib/auth.ts
Owners: @Jaysenso, @P1935404

fix : Fixed sonarqube issues
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/components/add-place-dialog.tsx
  frontend/src/components/country-search.tsx
  frontend/src/components/location-search.tsx
  frontend/src/components/sortable-itinerary.tsx
  frontend/src/components/sortable-location-card.tsx
Owners: @Jaysenso, @P1935404

fix : Fixed sonarqube issues
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Owners: @Jaysenso, @P1935404

integrated profile(description, profilepic, change password) and BE, removed localstorage
  backend/controllers/auth.ts
  backend/controllers/profile.ts
  backend/controllers/user.ts
  backend/prisma/schema.prisma
  backend/routes/auth.ts
  backend/routes/profile.ts
  backend/routes/user.ts
  backend/services/image.ts
  backend/services/user.ts
  backend/zod/schemas.ts
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/settings/page.tsx
  frontend/src/components/navbar.tsx
  frontend/src/components/settings/SettingsForm.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/lib/settingsHandler.ts
  frontend/src/providers/UserProvider.tsx
  frontend/src/store/userStore.ts
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404
