Repository isaacchunn/wanderers, changes with the owners that docs/CODEOWNERS names for each.
All owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

fix : added eslint-disable comments to bypass unused vars warnings
  frontend/package-lock.json
  frontend/src/app/itinerary/actions.ts
  frontend/src/components/ui/expense-splitter.tsx
Owners: @Jaysenso, @P1935404

SCEL-78: create a base layout of itinerary page (#31)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/itinerary/actions.ts
  frontend/src/app/itinerary/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/ui/chat-box.tsx
  frontend/src/components/ui/expense-splitter.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/sortable-location-card.tsx
Owners: @Jaysenso, @P1935404

feat: add vercel yml
  .github/workflows/vercel.yml
Owners: @isaacchunn

feat : added base layout and structure for home page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/home/page.tsx
  frontend/src/components/ui/carousel.tsx
Owners: @Jaysenso, @P1935404

fix : fixed hydration failed issue
  frontend/src/app/home/page.tsx
Owners: @Jaysenso, @P1935404

feat : added base layout and structure of home page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/home/page.tsx
  frontend/src/components/ui/carousel.tsx
Owners: @Jaysenso, @P1935404

SCEL-77: Create a base layout of home page (#35)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/home/page.tsx
  frontend/src/components/ui/carousel.tsx
Owners: @Jaysenso, @P1935404

refactor : Changed create-itinerary route
  frontend/src/app/create-itinerary/page.tsx
Owners: @Jaysenso, @P1935404

refactor : Added mock data to utils.ts and custom types to types.ts
  frontend/src/app/home/page.tsx
  frontend/src/app/itinerary/page.tsx
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Owners: @Jaysenso, @P1935404

refactor : updated Home link in authenticated header
  frontend/src/components/authenticated-header.tsx
Owners: @Jaysenso, @P1935404

no idea whats this
  .github/workflows/vercel.yml
  frontend/package-lock.json
  frontend/vercel.json
Owners: @isaacchunn, @Jaysenso, @P1935404

feat: finalize vercel deployment
  .github/workflows/vercel.yml
Owners: @isaacchunn

test: deploy to preview env
  .github/workflows/vercel.yml
Owners: @isaacchunn

feat: add dynamic enviroments for prod
  .github/workflows/vercel.yml
Owners: @isaacchunn

fix: deploy only if we are stg
  .github/workflows/vercel.yml
Owners: @isaacchunn

feat: save outputs into deployment
  .github/workflows/vercel.yml
Owners: @isaacchunn

SCEL-91: Add deployment to Vercel via GitHub actions (#33)
  .github/workflows/vercel.yml
  frontend/vercel.json
Owners: @isaacchunn, @Jaysenso, @P1935404

feat: add new schema
  backend/prisma/schema.prisma
Owners: @Albert481, @fattycuty

added empty line at eof
  backend/prisma/schema.prisma
Owners: @Albert481, @fattycuty

feat: run vercel only if frontend folder was changed
  .github/workflows/vercel.yml
Owners: @isaacchunn

test: run vercel on push for now
  .github/workflows/vercel.yml
Owners: @isaacchunn

SCEL-95: [BE] Add new tables to schema (#37)
  backend/prisma/schema.prisma
Owners: @Albert481, @fattycuty

fix : Removed Wanderers's logo in site-footer
  frontend/src/components/site-footer.tsx
Owners: @Jaysenso, @P1935404

fix : Removed unused import
  frontend/src/components/site-footer.tsx
Owners: @Jaysenso, @P1935404

fix: update package.json path in launch script
  backend/package.json
Owners: @Albert481, @fattycuty

SCEL-94: Refactor Base Layout and Structure of Placeholder Pages (#36)
  frontend/src/app/create-itinerary/page.tsx
  frontend/src/app/home/page.tsx
  frontend/src/app/itinerary/page.tsx
  frontend/src/components/authenticated-header.tsx
  frontend/src/components/site-footer.tsx
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Owners: @Jaysenso, @P1935404

fix: synced package-lock.json
  backend/package-lock.json
Owners: @Albert481, @fattycuty

SCEL-96: [BE] Update package.json script path (#38)
  backend/package-lock.json
  backend/package.json
Owners: @Albert481, @fattycuty

Fixed error flags and double hashed password
  backend/controllers/auth.ts
  backend/services/user.ts
Owners: @Albert481, @fattycuty

Fixed route names and added comments
  backend/controllers/auth.ts
  backend/routes/auth.ts
Owners: @Albert481, @fattycuty

fix: Auth error flags and double hashed password
  backend/controllers/auth.ts
  backend/routes/auth.ts
  backend/services/user.ts
Owners: @Albert481, @fattycuty

Added routers, controller and services for activity
  backend/controllers/activity.ts
  backend/index.ts
  backend/routes/activity.ts
  backend/services/activity.ts
  backend/zod/schemas.ts
Owners: @Albert481, @fattycuty

feat: add soft delete columns and fix column names
  backend/prisma/schema.prisma
Owners: @Albert481, @fattycuty

feat: add new columns to Activity, Itinerary and User table
  backend/prisma/schema.prisma
Owners: @Albert481, @fattycuty

added fixtures and swagger link on backend start
  backend/index.ts
  backend/test/support/fixtures.ts
Owners: @Albert481, @fattycuty

SCEL-100: [BE] Update and fix schema (#40)
  backend/prisma/schema.prisma
Owners: @Albert481, @fattycuty

SCEL-97-Added Activity controller, router and service
  backend/controllers/activity.ts
  backend/index.ts
  backend/routes/activity.ts
  backend/services/activity.ts
  backend/test/support/fixtures.ts
  backend/zod/schemas.ts
Owners: @Albert481, @fattycuty

adapted activity controller and router to fit new schema
  backend/controllers/activity.ts
  backend/index.ts
  backend/routes/activity.ts
  backend/services/activity.ts
  backend/test/support/fixtures.ts
  backend/zod/schemas.ts
Owners: @Albert481, @fattycuty

SCEL-97-Fix Activity for new schema (#42)
  backend/controllers/activity.ts
  backend/index.ts
  backend/routes/activity.ts
  backend/services/activity.ts
  backend/test/support/fixtures.ts
  backend/zod/schemas.ts
Owners: @Albert481, @fattycuty

feat: added routers, controller and services for Itinerary
  backend/controllers/itinerary.ts
  backend/controllers/mail.ts
  backend/index.ts
  backend/routes/itineraryProtected.ts
  backend/routes/itineraryPublic.ts
  backend/services/itinerary.ts
  backend/test/support/fixtures.ts
  backend/zod/schemas.ts
Owners: @Albert481, @fattycuty

docs/CODEOWNERS:

# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners for more information on CODEOWNERS documentation.

# Team Members
# Project Manager + QA: Seo Jin - @kimtorl
# BE + FE: Jsen - @Jaysenso
# BE + FE: Hazim - @fattycuty
# BE + FE: Miko - @P1935404
# BE + Release: Raghav - @raghavrnair
# Lead + BE: Albert - @Albert481
# QA + Release: Isaac - @isaacchunn

* @isaacchunn

docs        @isaacchunn
README.md   @isaacchunn
scripts     @isaacchunn
labs        @isaacchunn
backend     @Albert481 @fattycuty
frontend    @Jaysenso @P1935404
