Repository isaacchunn/wanderers, changes with the owners that docs/CODEOWNERS names for each.
All owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

fix: added extra line at eof
  backend/services/itinerary.ts
  backend/zod/schemas.ts
Owners: @Albert481, @fattycuty

SCEL-75: [BE] Set up routes for itinerary (#43)
  backend/controllers/itinerary.ts
  backend/controllers/mail.ts
  backend/index.ts
  backend/routes/itineraryProtected.ts
  backend/routes/itineraryPublic.ts
  backend/services/itinerary.ts
  backend/test/support/fixtures.ts
  backend/zod/schemas.ts
Owners: @Albert481, @fattycuty

Bypass CORS error with wildcard. Do not use in prod
  backend/index.ts
Owners: @Albert481, @fattycuty

fix-Bypass CORS error with wildcard
  backend/index.ts
Owners: @Albert481, @fattycuty

added a test GET routing for activities part, to review an error for now
  frontend/src/app/itinerary/page.tsx
Owners: @Jaysenso, @P1935404

fix Modularized the Sortable-Itinerary component to support SSR on the itinerary page
  frontend/src/app/itinerary/page.tsx
  frontend/src/components/sortable-itinerary.tsx
Owners: @Jaysenso, @P1935404

feat : Added googles place API integration in itinerary page
  frontend/src/components/ui/sortable-location-card.tsx
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Owners: @Jaysenso, @P1935404

feat : Added dynamic routing for itinerary page
  frontend/src/app/itinerary/[id]/actions.ts
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/app/itinerary/page.tsx
  frontend/src/components/sortable-itinerary.tsx
  frontend/src/components/ui/chat-box.tsx
  frontend/src/components/ui/expense-splitter.tsx
  frontend/src/lib/itineraryHandler.ts
Owners: @Jaysenso, @P1935404

fix : Added interfaces for the expected data retrieval
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/types.ts
Owners: @Jaysenso, @P1935404

fix : Added actual database itinerary interface
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/types.ts
Owners: @Jaysenso, @P1935404

fix : Removed unused vars
  frontend/src/lib/itineraryHandler.ts
Owners: @Jaysenso, @P1935404

fix : Updated component imports
  frontend/src/components/ui/chat-box.tsx
  frontend/src/components/ui/expense-splitter.tsx
Owners: @Jaysenso, @P1935404

fix : fixed itinerary interface typo error
  frontend/src/lib/types.ts
Owners: @Jaysenso, @P1935404

SCEL-99: Full-stack integration for Activity (#45)
  frontend/src/app/itinerary/[id]/actions.ts
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/app/itinerary/page.tsx
  frontend/src/components/sortable-itinerary.tsx
  frontend/src/components/ui/chat-box.tsx
  frontend/src/components/ui/expense-splitter.tsx
  frontend/src/components/ui/sortable-location-card.tsx
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Owners: @Jaysenso, @P1935404

added GET functions for displaying itineraries on the UI. No errors except for 1 problem with type issue.
  backend/index.ts
  frontend/src/app/home/page.tsx
  frontend/src/lib/itineraryPublic.ts
  frontend/src/lib/itineraryUser.ts
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

refactor : Refactored all itinerary retrieval logic into ItineraryHandler.ts
  frontend/src/app/home/page.tsx
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/itineraryPublic.ts
  frontend/src/lib/itineraryUser.ts
Owners: @Jaysenso, @P1935404

fix : Removed placeholder itinerary type & minor code fix in Itinerary Page
  frontend/src/app/home/page.tsx
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/types.ts
Owners: @Jaysenso, @P1935404

Updated readme guide to setup local backend environment
  README.md
  backend/.env.example
Owners: @isaacchunn, @Albert481, @fattycuty

SCEL-101-Updated readme guide to setup local backend environment (#47)
  README.md
  backend/.env.example
Owners: @isaacchunn, @Albert481, @fattycuty

fix typo in backend readme
  README.md
Owners: @isaacchunn

fix typo in backend readme (#48)
  README.md
Owners: @isaacchunn

fix : Removed mock itinerary data
  frontend/src/lib/utils.ts
Owners: @Jaysenso, @P1935404

fix : Removed unused var
  frontend/src/lib/utils.ts
Owners: @Jaysenso, @P1935404

SCEL-113-added places api for create activity flow
  backend/.env.example
  backend/controllers/place.ts
  backend/index.ts
  backend/package-lock.json
  backend/package.json
  backend/routes/place.ts
Owners: @Albert481, @fattycuty

updated swagger docs for places route
  backend/routes/place.ts
Owners: @Albert481, @fattycuty

added guide to setup places api key in readme
  README.md
Owners: @isaacchunn

cleaned up register, login and confirm-account
  backend/controllers/auth.ts
  backend/routes/auth.ts
Owners: @Albert481, @fattycuty

pretty format
  backend/.env.example
  backend/controllers/itinerary.ts
  backend/controllers/mail.ts
  backend/controllers/place.ts
  backend/index.ts
  backend/routes/itineraryProtected.ts
  backend/routes/itineraryPublic.ts
  backend/routes/place.ts
  backend/services/itinerary.ts
  backend/zod/schemas.ts
Owners: @Albert481, @fattycuty

split places into multiple functions
  backend/controllers/place.ts
Owners: @Albert481, @fattycuty

prettify
  backend/controllers/place.ts
Owners: @Albert481, @fattycuty

SCEL-113-Added places api for create activity flow (#49)
  README.md
  backend/.env.example
  backend/controllers/itinerary.ts
  backend/controllers/mail.ts
  backend/controllers/place.ts
  backend/index.ts
  backend/package-lock.json
  backend/package.json
  backend/routes/itineraryProtected.ts
  backend/routes/itineraryPublic.ts
  backend/routes/place.ts
  backend/services/itinerary.ts
  backend/zod/schemas.ts
Owners: @isaacchunn, @Albert481, @fattycuty

fix: change how photo is handled in Activity and Itinerary schema
  backend/prisma/schema.prisma
Owners: @Albert481, @fattycuty

fix: refactor Itinerary and Activity API to include schema changes and user information
  backend/controllers/activity.ts
  backend/controllers/itinerary.ts
  backend/routes/activity.ts
  backend/routes/itineraryProtected.ts
  backend/services/activity.ts
  backend/services/itinerary.ts
  backend/zod/schemas.ts
Owners: @Albert481, @fattycuty

Created httpCodes for readability
  backend/controllers/activity.ts
  backend/controllers/auth.ts
  backend/lib/httpCodes.ts
Owners: @Albert481, @fattycuty

fix: whitespace
  backend/prisma/schema.prisma
Owners: @Albert481, @fattycuty

SCEL-114: [BE] Refactor schema and affected API Routes (#51)
  backend/controllers/activity.ts
  backend/controllers/itinerary.ts
  backend/prisma/schema.prisma
  backend/routes/activity.ts
  backend/routes/itineraryProtected.ts
  backend/routes/itineraryPublic.ts
  backend/services/activity.ts
  backend/services/itinerary.ts
  backend/zod/schemas.ts
Owners: @Albert481, @fattycuty

SCEL-98: Home fullstack integration (#46)
  backend/index.ts
  frontend/src/app/home/page.tsx
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

feat : Added activity creation & deletion in itinerary page
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/components/activity-container.tsx
  frontend/src/components/autocomplete-search.tsx
  frontend/src/components/sort
  frontend/src/components/sortable-itinerary.tsx
  frontend/src/components/sortable-location-card.tsx
  frontend/src/components/ui/chat-box.tsx
  frontend/src/lib/activityHandler.ts
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Owners: @Jaysenso, @P1935404

fix : Itinerary display error in home page
  frontend/next.config.ts
  frontend/src/app/home/page.tsx
  frontend/src/lib/activityHandler.ts
  frontend/src/lib/types.ts
Owners: @Jaysenso, @P1935404

SCEL-115 : Activity CRUD Operations in Itinerary Page (#52)
  frontend/next.config.ts
  frontend/src/app/home/page.tsx
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/components/activity-container.tsx
  frontend/src/components/autocomplete-search.tsx
  frontend/src/components/sort
  frontend/src/components/sortable-itinerary.tsx
  frontend/src/components/sortable-location-card.tsx
  frontend/src/components/ui/chat-box.tsx
  frontend/src/lib/activityHandler.ts
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
Owners: @Jaysenso, @P1935404

docs/CODEOWNERS:

# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners for more information on CODEOWNERS documentation.

# Team Members
# Project Manager + QA: Seo Jin - @kimtorl
# BE + FE: Jsen - @Jaysenso
# BE + FE: Hazim - @fattycuty
# BE + FE: Miko - @P1935404
# BE + Release: Raghav - @raghavrnair
# Lead + BE: Albert - @Albert481
# QA + Release: Isaac - @isaacchunn

* @isaacchunn

docs        @isaacchunn
README.md   @isaacchunn
scripts     @isaacchunn
labs        @isaacchunn
backend     @Albert481 @fattycuty
frontend    @Jaysenso @P1935404
