Repository isaacchunn/wanderers, changes with the owners that docs/CODEOWNERS names for each.
All owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

Updated time feature with validation and updated design
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/dialog-model.tsx
  frontend/src/components/time-picker.tsx
Owners: @Jaysenso, @P1935404

docs: add important changes since previous release to changelog
  Changelog.md
Owners: @isaacchunn

docs: added fixes
  Changelog.md
Owners: @isaacchunn

Fix: code quality issues in reviews and sonarqube
  frontend/src/components/add-place-dialog.tsx
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/dialog-model.tsx
  frontend/src/components/dropdown-menuA.tsx
  frontend/src/components/edit-i-calendar.tsx
  frontend/src/components/sortable-location-card.tsx
  frontend/src/lib/duration.ts
Owners: @Jaysenso, @P1935404

Fix: code quality issues in reviews and sonarqube (2)
  frontend/src/components/dialog-model.tsx
Owners: @Jaysenso, @P1935404

Fix: code quality issues in reviews and sonarqube (3)
  frontend/src/components/dialog-model.tsx
Owners: @Jaysenso, @P1935404

SCEL-163: Update Changelog (#84)
  Changelog.md
Owners: @isaacchunn

fix: vercel.yml
  .github/workflows/vercel.yml
Owners: @isaacchunn

fix: vercel build arg
  .github/workflows/vercel.yml
Owners: @isaacchunn

wanderers release v1.0.0 (#85)
  Changelog.md
Owners: @isaacchunn

Resolve merge conflicts and updated calendar-picker due to conflicts
  frontend/src/components/calendar-picker.tsx
Owners: @Jaysenso, @P1935404

docs: add lab 3 docs
  labs/lab2/README.md
  labs/lab3/In_Lab_Meeting_Minutes.pdf
  labs/lab3/Post Lab Meeting Minutes.pdf
  labs/lab3/Project_Plan_v1.2.pdf
  labs/lab3/README.md
  labs/lab3/Risk_Management_Plan_v.1.3.pdf
  labs/lab3/Team Backlog (Lab3).xlsx
Owners: @isaacchunn

docs: add risk contingency plan
  labs/lab3/Risk_Contingency_Plan.pdf
  labs/lab3/Risk_Management_Plan_v.1.3.pdf
Owners: @isaacchunn

docs: update lab3 readme
  labs/lab3/README.md
  labs/lab3/Risk_Contigency_Plan_v.1.0.pdf
  labs/lab3/Risk_Contingency_Plan.pdf
Owners: @isaacchunn

fix spelling
  labs/lab3/In_Lab_Meeting_Minutes.pdf
  labs/lab3/Risk_Contingency_Plan_v.1.0.pdf
Owners: @isaacchunn

docs: add lab 3 docs (#87)
  labs/lab2/README.md
  labs/lab3/In_Lab_Meeting_Minutes.pdf
  labs/lab3/Post Lab Meeting Minutes.pdf
  labs/lab3/Project_Plan_v1.2.pdf
  labs/lab3/README.md
  labs/lab3/Risk_Contingency_Plan_v.1.0.pdf
  labs/lab3/Risk_Management_Plan_v.1.3.pdf
  labs/lab3/Team Backlog (Lab3).xlsx
Owners: @isaacchunn

Implement Expense Calculation and Splitting
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/components/expense-splitter.tsx
  frontend/src/components/location-search.tsx
  frontend/src/components/sortable-itinerary.tsx
  frontend/src/lib/constants/currencies.json
  frontend/src/lib/settingsHandler.ts
  frontend/src/lib/types.ts
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

Fix: code quality issues in sonarqube
  frontend/src/components/expense-splitter.tsx
Owners: @Jaysenso, @P1935404

Fix: code quality issues in sonarqube (2)
  frontend/src/components/expense-splitter.tsx
Owners: @Jaysenso, @P1935404

SCEL-158: [FE] Implement Expense Calculation and Splitting (#88)
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/components/expense-splitter.tsx
  frontend/src/components/location-search.tsx
  frontend/src/components/sortable-itinerary.tsx
  frontend/src/lib/constants/currencies.json
  frontend/src/lib/settingsHandler.ts
  frontend/src/lib/types.ts
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

[FE] Add a time feature for Activity (#81)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/add-place-dialog.tsx
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/dialog-model.tsx
  frontend/src/components/dropdown-menuA.tsx
  frontend/src/components/edit-i-calendar.tsx
  frontend/src/components/sortable-location-card.tsx
  frontend/src/lib/duration.ts
Owners: @Jaysenso, @P1935404

chore: update changelog
  Changelog.md
Owners: @isaacchunn

wanderers release v1.1.0 (#91)
  Changelog.md
Owners: @isaacchunn

docs: add lab4 docs
  labs/lab4/Change_Management_Plan_v1.2.pdf
  labs/lab4/Design_Report_on_Software_Maintainability_v2.0.pdf
  labs/lab4/In_Lab_Meeting_Minutes.pdf
  labs/lab4/Post_Lab Meeting_Minutes_1.pdf
  labs/lab4/Post_Lab Meeting_Minutes_2.pdf
  labs/lab4/README.md
  labs/lab4/Release_Plan_v1.2.pdf
  labs/lab4/Software_Configuration_Management_Plan_v1.4.pdf
  labs/lab4/Team Backlog (Lab4).xlsx
Owners: @isaacchunn

docs: add lab4 docs (#93)
  labs/lab4/Change_Management_Plan_v1.2.pdf
  labs/lab4/Design_Report_on_Software_Maintainability_v2.0.pdf
  labs/lab4/In_Lab_Meeting_Minutes.pdf
  labs/lab4/Post_Lab Meeting_Minutes_1.pdf
  labs/lab4/Post_Lab Meeting_Minutes_2.pdf
  labs/lab4/README.md
  labs/lab4/Release_Plan_v1.2.pdf
  labs/lab4/Software_Configuration_Management_Plan_v1.4.pdf
  labs/lab4/Team Backlog (Lab4).xlsx
Owners: @isaacchunn

chore: purposefully fail ci check
  frontend/src/middleware.ts
Owners: @Jaysenso, @P1935404

added activity, auth, mail tests
  backend/jest.config.ts
  backend/package-lock.json
  backend/package.json
  backend/prisma/singleton.ts
  backend/test/api/activity.test.ts
  backend/test/api/auth.test.ts
  backend/test/api/mail.test.ts
  backend/test/support/fixtures.ts
Owners: @Albert481, @fattycuty

fix sonarqube
  backend/test/api/activity.test.ts
  backend/test/api/auth.test.ts
  backend/test/api/mail.test.ts
  backend/test/support/fixtures.ts
Owners: @Albert481, @fattycuty

reduce duplicate code lines
  backend/test/api/auth.test.ts
Owners: @Albert481, @fattycuty

test: added activity, auth, mail tests (#95)
  backend/jest.config.ts
  backend/package-lock.json
  backend/package.json
  backend/prisma/singleton.ts
  backend/test/api/activity.test.ts
  backend/test/api/auth.test.ts
  backend/test/api/mail.test.ts
  backend/test/support/fixtures.ts
Owners: @Albert481, @fattycuty

added service and controller tests for core features
  backend/test/api/activity.controller.test.ts
  backend/test/api/activity.test.ts
  backend/test/api/auth.controller.test.ts
  backend/test/api/itinerary.controller.test.ts
  backend/test/api/mail.controller.test.ts
  backend/test/api/profile.controller.test.ts
  backend/test/services/activity.service.test.ts
  backend/test/services/auth.service.test.ts
  backend/test/services/image.service.test.ts
  backend/test/services/itinerary.service.test.ts
  backend/test/services/profile.service.test.ts
  backend/test/services/token.service.test.ts
  backend/test/support/utils/mock-setup.ts
  backend/test/support/utils/test-utils.ts
Owners: @Albert481, @fattycuty

EOF, supress sonarqube
  backend/test/api/activity.controller.test.ts
  backend/test/api/auth.controller.test.ts
  backend/test/api/itinerary.controller.test.ts
  backend/test/api/mail.controller.test.ts
  backend/test/api/profile.controller.test.ts
  backend/test/services/activity.service.test.ts
  backend/test/services/auth.service.test.ts
  backend/test/services/image.service.test.ts
  backend/test/services/itinerary.service.test.ts
  backend/test/services/profile.service.test.ts
  backend/test/services/token.service.test.ts
  backend/test/support/fixtures.ts
  backend/test/support/utils/mock-setup.ts
  backend/test/support/utils/test-utils.ts
Owners: @Albert481, @fattycuty

test: core features (#96)
  backend/test/api/activity.controller.test.ts
  backend/test/api/activity.test.ts
  backend/test/api/auth.controller.test.ts
  backend/test/api/itinerary.controller.test.ts
  backend/test/api/mail.controller.test.ts
  backend/test/api/profile.controller.test.ts
  backend/test/services/activity.service.test.ts
  backend/test/services/auth.service.test.ts
  backend/test/services/image.service.test.ts
  backend/test/services/itinerary.service.test.ts
  backend/test/services/profile.service.test.ts
  backend/test/services/token.service.test.ts
  backend/test/support/fixtures.ts
  backend/test/support/utils/mock-setup.ts
  backend/test/support/utils/test-utils.ts
Owners: @Albert481, @fattycuty

feat: enable running of automated tests on backend
  .github/workflows/development.yml
Owners: @isaacchunn

test: add empty line to trigger ci check for backend
  backend/routes/activity.ts
Owners: @Albert481, @fattycuty

Revert "test: add empty line to trigger ci check for backend"
  backend/routes/activity.ts
Owners: @Albert481, @fattycuty

fix: jest command freezing ci check
  backend/package.json
Owners: @Albert481, @fattycuty

feat: enable automated backend tests (#97)
  .github/workflows/development.yml
  backend/package.json
Owners: @isaacchunn, @Albert481, @fattycuty

docs: add lab 5 docs
  labs/lab5/Meeting_Minutes.pdf
  labs/lab5/README.md
  labs/lab5/Team Backlog (Lab5).xlsx
  labs/lab5/Test_Cases_and_Requirements_Test_Coverage_Report_v1.0.2.pdf
  labs/lab5/Test_Plan_v1.3.pdf
Owners: @isaacchunn

docs: add lab 5 docs (#98)
  labs/lab5/Meeting_Minutes.pdf
  labs/lab5/README.md
  labs/lab5/Team Backlog (Lab5).xlsx
  labs/lab5/Test_Cases_and_Requirements_Test_Coverage_Report_v1.0.2.pdf
  labs/lab5/Test_Plan_v1.3.pdf
Owners: @isaacchunn

docs/CODEOWNERS:

# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners for more information on CODEOWNERS documentation.

# Team Members
# Project Manager + QA: Seo Jin - @kimtorl
# BE + FE: Jsen - @Jaysenso
# BE + FE: Hazim - @fattycuty
# BE + FE: Miko - @P1935404
# BE + Release: Raghav - @raghavrnair
# Lead + BE: Albert - @Albert481
# QA + Release: Isaac - @isaacchunn

* @isaacchunn

docs        @isaacchunn
README.md   @isaacchunn
scripts     @isaacchunn
labs        @isaacchunn
backend     @Albert481 @fattycuty
frontend    @Jaysenso @P1935404
