Repository isaacchunn/wanderers, changes with the owners that docs/CODEOWNERS names for each.
All owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

docs/CODEOWNERS:

# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners for more information on CODEOWNERS documentation.

# Team Members
# Project Manager + QA: Seo Jin - @kimtorl
# BE + FE: Jsen - @Jaysenso
# BE + FE: Hazim - @fattycuty
# BE + FE: Miko - @P1935404
# BE + Release: Raghav - @raghavrnair
# Lead + BE: Albert - @Albert481
# QA + Release: Isaac - @isaacchunn

* @isaacchunn

docs        @isaacchunn
README.md   @isaacchunn
scripts     @isaacchunn
labs        @isaacchunn
backend     @Albert481 @fattycuty
frontend    @Jaysenso @P1935404

fixed sonarqube
  backend/controllers/user.ts
  backend/services/image.ts
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/components/navbar.tsx
  frontend/src/components/settings/SettingsForm.tsx
  frontend/src/lib/settingsHandler.ts
  frontend/src/providers/UserProvider.tsx
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

fixed lint
  frontend/src/components/settings/SettingsForm.tsx
  frontend/src/lib/settingsHandler.ts
Owners: @Jaysenso, @P1935404

fix : Fixed eslint issues
  frontend/src/components/sortable-location-card.tsx
  frontend/src/components/ui/form.tsx
Owners: @Jaysenso, @P1935404

SCEL-139: [FE] Implement creation of activity modal (#68)
  frontend/.env.example
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/activity-container.tsx
  frontend/src/components/add-place-dialog.tsx
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/country-search.tsx
  frontend/src/components/location-search.tsx
  frontend/src/components/sortable-itinerary.tsx
  frontend/src/components/sortable-location-card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/lib/activityHandler.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/types.ts
  frontend/src/lib/utils.ts
  frontend/src/providers/UserProvider.tsx
Owners: @Jaysenso, @P1935404

SCEL-145-integrated profile(description, profilepic, change password) and BE, … (#69)
  backend/controllers/auth.ts
  backend/controllers/profile.ts
  backend/controllers/user.ts
  backend/prisma/schema.prisma
  backend/routes/auth.ts
  backend/routes/profile.ts
  backend/routes/user.ts
  backend/services/image.ts
  backend/services/user.ts
  backend/zod/schemas.ts
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/navbar.tsx
  frontend/src/components/settings/SettingsForm.tsx
  frontend/src/lib/settingsHandler.ts
  frontend/src/providers/UserProvider.tsx
  frontend/src/store/userStore.ts
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

fix: itinerary now returns correctly depending on caller
  backend/controllers/itinerary.ts
  backend/services/itinerary.ts
Owners: @Albert481, @fattycuty

fix: simplified if condition
  backend/services/itinerary.ts
Owners: @Albert481, @fattycuty

fix: changed let to const
  backend/services/itinerary.ts
Owners: @Albert481, @fattycuty

chore: add back revalidate for testing
  frontend/src/lib/itineraryHandler.ts
Owners: @Jaysenso, @P1935404

fix : Added middleware logic for user authentication and route redirection
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/explore/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/my-trips/page.tsx
  frontend/src/components/navbar.tsx
  frontend/src/lib/itineraryHandler.ts
  frontend/src/middleware.ts
Owners: @Jaysenso, @P1935404

fix: separated if condition
  backend/services/itinerary.ts
Owners: @Albert481, @fattycuty

debug
  frontend/src/components/itinerary-carousel.tsx
Owners: @Jaysenso, @P1935404

SCEL-151: [BE] Fix getItineraryById (#70)
  backend/controllers/itinerary.ts
  backend/services/itinerary.ts
Owners: @Albert481, @fattycuty

[FE] removed duplicated code and added different cases for showing itineraries
  backend/package-lock.json
  backend/package.json
  frontend/src/app/explore/page.tsx
  frontend/src/app/home/page.tsx
  frontend/src/app/my-trips/page.tsx
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

[FE] refactored create itinerary error code in itineraryhandler.tsx to not use nested template literals
  frontend/src/lib/itineraryHandler.ts
Owners: @Jaysenso, @P1935404

[FE] refactored codes in the itineraries related pages to remove erratic stylings
  frontend/src/app/explore/page.tsx
  frontend/src/app/home/page.tsx
  frontend/src/app/my-trips/page.tsx
Owners: @Jaysenso, @P1935404

fix : Removed "add itinerary" button in explore page
  frontend/src/app/explore/page.tsx
Owners: @Jaysenso, @P1935404

added middleware logic for user authentication and route redirection (#71)
  backend/package-lock.json
  backend/package.json
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/explore/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/my-trips/page.tsx
  frontend/src/components/navbar.tsx
  frontend/src/lib/itineraryHandler.ts
  frontend/src/middleware.ts
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

feat: setup chat message api and socket server
  backend/controllers/chat.ts
  backend/index.ts
  backend/package-lock.json
  backend/package.json
  backend/routes/chat.ts
  backend/services/chat.ts
  backend/services/itinerary.ts
  backend/services/websocket-server.ts
Owners: @Albert481, @fattycuty

feat: added itinerary-specific chatrooms w/ backend integration
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/components/chat-box.tsx
  frontend/src/lib/chatHandler.ts
  frontend/src/lib/types.ts
Owners: @Jaysenso, @P1935404

fix: removed uncessary parameter
  frontend/src/components/chat-box.tsx
Owners: @Jaysenso, @P1935404

fix: removed unnecessary arguments
  frontend/src/app/itinerary/[id]/page.tsx
Owners: @Jaysenso, @P1935404

test: render deployment
  backend/index.ts
Owners: @Albert481, @fattycuty

ensured the CRUD of itinerary and activity is working
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/create-itinerary/page.tsx
  frontend/src/app/itinerary/[id]/actions.ts
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/components/activity-container.tsx
  frontend/src/components/add-place-dialog.tsx
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/dialog-model.tsx
  frontend/src/components/dropdown-menu.tsx
  frontend/src/components/dropdown-menuA.tsx
  frontend/src/components/dropdown-menuI.tsx
  frontend/src/components/edit-a-calendar.tsx
  frontend/src/components/edit-i-calendar.tsx
  frontend/src/components/email-input.tsx
  frontend/src/components/itinerary-carousel.tsx
  frontend/src/components/itinerary-title.tsx
  frontend/src/components/location-search.tsx
  frontend/src/components/sortable-location-card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/lib/activityHandler.ts
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/settingsHandler.ts
  frontend/src/lib/types.ts
Owners: @Jaysenso, @P1935404

fix: code quality issues flagged by sonarqube
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/dialog-model.tsx
  frontend/src/components/dropdown-menuA.tsx
  frontend/src/components/dropdown-menuI.tsx
  frontend/src/components/edit-a-calendar.tsx
  frontend/src/components/email-input.tsx
Owners: @Jaysenso, @P1935404

fix: code quality issues flagged by sonarqube (2)
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/dropdown-menuI.tsx
  frontend/src/components/edit-i-calendar.tsx
Owners: @Jaysenso, @P1935404

fix: code quality issues flagged by sonarqube (3)
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/dropdown-menuI.tsx
Owners: @Jaysenso, @P1935404

fix: code quality issues flagged by sonarqube (4)
  frontend/src/components/dropdown-menuI.tsx
Owners: @Jaysenso, @P1935404

test: deploy render without socket server
  backend/index.ts
Owners: @Albert481, @fattycuty

test: remove cors settings in socker server
  backend/index.ts
  backend/services/websocket-server.ts
Owners: @Albert481, @fattycuty

SCEL-153: [FE] Integrate Itinerary Chat (#73)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/components/chat-box.tsx
  frontend/src/lib/chatHandler.ts
  frontend/src/lib/types.ts
Owners: @Jaysenso, @P1935404

test: deploy with frontend socket
  backend/index.ts
  backend/services/websocket-server.ts
Owners: @Albert481, @fattycuty

test: setup server and listening endpoint in index.ts
  backend/index.ts
Owners: @Albert481, @fattycuty

test: remove catch-all route
  backend/index.ts
  backend/services/websocket-server.ts
Owners: @Albert481, @fattycuty

test: there are no more tests
  backend/index.ts
Owners: @Albert481, @fattycuty

test: create socket server but dont listen to any emits
  backend/services/websocket-server.ts
Owners: @Albert481, @fattycuty

Revert "test: there are no more tests"
  backend/index.ts
Owners: @Albert481, @fattycuty

revert commit
  backend/index.ts
  backend/services/websocket-server.ts
Owners: @Albert481, @fattycuty

SCEL-146: [BE] Setup Itinerary Chat API and SocketIo Server (#72)
  backend/controllers/chat.ts
  backend/index.ts
  backend/package-lock.json
  backend/package.json
  backend/routes/chat.ts
  backend/services/chat.ts
  backend/services/itinerary.ts
  backend/services/websocket-server.ts
Owners: @Albert481, @fattycuty

fix : Fixed frontend re-render after backend update
  frontend/src/app/itinerary/[id]/actions.ts
  frontend/src/components/activity-container.tsx
  frontend/src/components/dropdown-menuA.tsx
  frontend/src/components/sortable-location-card.tsx
Owners: @Jaysenso, @P1935404
