Repository isaacchunn/wanderers, changes with the owners that docs/CODEOWNERS names for each.
All owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

fix : Fixed Activity CRUD operation
  frontend/src/components/add-place-dialog.tsx
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/dialog-model.tsx
  frontend/src/components/dropdown-menuA.tsx
Owners: @Jaysenso, @P1935404

added dates validation
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/dialog-model.tsx
  frontend/src/components/itinerary-title.tsx
Owners: @Jaysenso, @P1935404

adding in debugging messages for crud check
  frontend/src/components/dialog-model.tsx
  frontend/src/components/sortable-location-card.tsx
  frontend/src/lib/activityHandler.ts
Owners: @Jaysenso, @P1935404

feat: introduce date grouping for chat messages
  frontend/src/components/chat-box.tsx
Owners: @Jaysenso, @P1935404

fix: update mobile view to latest change
  frontend/src/components/chat-box.tsx
Owners: @Jaysenso, @P1935404

refactor: separated chat content into component
  frontend/src/components/chat-box.tsx
  frontend/src/components/chat-card.tsx
Owners: @Jaysenso, @P1935404

fix: removed unused imports
  frontend/src/components/chat-box.tsx
Owners: @Jaysenso, @P1935404

fix: included chat box scroll on desktop
  frontend/src/components/chat-box.tsx
  frontend/src/components/chat-card.tsx
Owners: @Jaysenso, @P1935404

fix get activity returns active, filter places without openinghours, change .env to end without trailing slash
  backend/controllers/place.ts
  backend/controllers/profile.ts
  backend/services/activity.ts
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/components/navbar.tsx
  frontend/src/components/settings/SettingsForm.tsx
  frontend/src/providers/UserProvider.tsx
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

SCEL-154: [FE] Update Chat box UI/UX (#75)
  frontend/src/components/chat-box.tsx
  frontend/src/components/chat-card.tsx
Owners: @Jaysenso, @P1935404

fix: get activity returns active, filter places without openinghours, … (#76)
  backend/controllers/place.ts
  backend/controllers/profile.ts
  backend/services/activity.ts
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/components/navbar.tsx
  frontend/src/components/settings/SettingsForm.tsx
  frontend/src/providers/UserProvider.tsx
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

fix: activities and itinerary CRUD methods and the stylings
  frontend/src/components/dialog-model.tsx
  frontend/src/components/dropdown-menuA.tsx
  frontend/src/components/itinerary-carousel.tsx
  frontend/src/components/sortable-location-card.tsx
Owners: @Jaysenso, @P1935404

fix: code quality issues flagged by sonarqube (5)
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/sortable-location-card.tsx
Owners: @Jaysenso, @P1935404

fix: code quality issues flagged by sonarqube (67)
  frontend/src/components/sortable-location-card.tsx
Owners: @Jaysenso, @P1935404

fix: code quality issues flagged by sonarqube (7)
  frontend/src/components/OpeningHoursDropdown.tsx
  frontend/src/components/RenderOpeningHours.tsx
  frontend/src/components/sortable-location-card.tsx
Owners: @Jaysenso, @P1935404

fix: calendar dates validation for itinerary and activity create and update method
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/settings/SettingsForm.tsx
Owners: @Jaysenso, @P1935404

SCEL-152: [FE] ensured the CRUD of itinerary and activity is working (#74)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/create-itinerary/page.tsx
  frontend/src/app/itinerary/[id]/actions.ts
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/components/OpeningHoursDropdown.tsx
  frontend/src/components/RenderOpeningHours.tsx
  frontend/src/components/activity-container.tsx
  frontend/src/components/add-place-dialog.tsx
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/dialog-model.tsx
  frontend/src/components/dropdown-menu.tsx
  frontend/src/components/dropdown-menuA.tsx
  frontend/src/components/dropdown-menuI.tsx
  frontend/src/components/edit-i-calendar.tsx
  frontend/src/components/email-input.tsx
  frontend/src/components/itinerary-carousel.tsx
  frontend/src/components/itinerary-title.tsx
  frontend/src/components/location-search.tsx
  frontend/src/components/settings/SettingsForm.tsx
  frontend/src/components/sortable-location-card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/lib/activityHandler.ts
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/settingsHandler.ts
Owners: @Jaysenso, @P1935404

fix : Updated frontend base URL
  frontend/src/lib/settingsHandler.ts
  frontend/src/lib/utils.ts
Owners: @Jaysenso, @P1935404

SCEL-155 : Fix frontend base URL (#77)
  docs/ci_pipeline.md
  frontend/src/lib/activityHandler.ts
  frontend/src/lib/settingsHandler.ts
  frontend/src/lib/utils.ts
Owners: @isaacchunn, @Jaysenso, @P1935404

[FE] Implement Activity Sequence Feature
  frontend/src/components/activity-container.tsx
  frontend/src/components/dialog-model.tsx
  frontend/src/components/sortable-itinerary.tsx
  frontend/src/components/sortable-location-card.tsx
Owners: @Jaysenso, @P1935404

Fix: resolving the code quality
  frontend/src/components/activity-container.tsx
  frontend/src/components/dialog-model.tsx
  frontend/src/components/sortable-itinerary.tsx
Owners: @Jaysenso, @P1935404

added route for activity/sequence
  backend/controllers/activity.ts
  backend/routes/activity.ts
  backend/services/activity.ts
Owners: @Albert481, @fattycuty

chore: added route for activity/sequence (#79)
  backend/controllers/activity.ts
  backend/routes/activity.ts
  backend/services/activity.ts
Owners: @Albert481, @fattycuty

fixed password criteria, password history, logout, collab url
  backend/controllers/auth.ts
  backend/controllers/mail.ts
  backend/services/itinerary.ts
  backend/zod/schemas.ts
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/(auth)/reset-password/[token]/page.tsx
  frontend/src/components/navbar.tsx
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

fix sonarqube
  backend/zod/schemas.ts
  frontend/src/app/(auth)/register/page.tsx
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

fix: password criteria, password history, logout, collab url (#80)
  backend/controllers/auth.ts
  backend/controllers/mail.ts
  backend/services/itinerary.ts
  backend/zod/schemas.ts
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/(auth)/reset-password/[token]/page.tsx
  frontend/src/components/navbar.tsx
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

fix : Fixed date validation
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/location-search.tsx
Owners: @Jaysenso, @P1935404

fix : Updated activity sequence logic
  frontend/src/components/sortable-itinerary.tsx
Owners: @Jaysenso, @P1935404

feat : Added itinerary photo URL integration
  frontend/src/app/create-itinerary/page.tsx
  frontend/src/lib/itineraryHandler.ts
Owners: @Jaysenso, @P1935404

fix : Updated create-itinerary params requirements
  frontend/src/app/create-itinerary/page.tsx
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/dialog-model.tsx
  frontend/src/lib/activityHandler.ts
Owners: @Jaysenso, @P1935404

SCEL-156 : [FE] Implement Activity Sequence Feature (#78)
  frontend/src/app/create-itinerary/page.tsx
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/dialog-model.tsx
  frontend/src/components/location-search.tsx
  frontend/src/components/sortable-itinerary.tsx
  frontend/src/components/sortable-location-card.tsx
  frontend/src/lib/activityHandler.ts
  frontend/src/lib/itineraryHandler.ts
Owners: @Jaysenso, @P1935404

Added the time feature for activities
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/calendar-picker.tsx
  frontend/src/components/dialog-model.tsx
  frontend/src/components/dropdown-menuA.tsx
  frontend/src/components/sortable-location-card.tsx
  frontend/src/components/time-picker.tsx
  frontend/src/lib/duration.ts
Owners: @Jaysenso, @P1935404

fixed password requirement
  backend/zod/schemas.ts
  frontend/src/app/(auth)/register/page.tsx
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

updated reset password page ui
  backend/controllers/auth.ts
  backend/controllers/mail.ts
  backend/zod/schemas.ts
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/(auth)/reset-password/[token]/page.tsx
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

fixed lint
  frontend/src/app/(auth)/reset-password/[token]/page.tsx
Owners: @Jaysenso, @P1935404

fixed sonarqube
  frontend/src/app/(auth)/reset-password/[token]/page.tsx
Owners: @Jaysenso, @P1935404

SCEL-159-Update password requirements (#82)
  backend/controllers/auth.ts
  backend/controllers/mail.ts
  backend/zod/schemas.ts
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/(auth)/reset-password/[token]/page.tsx
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

added landmark-photos to return list of photos
  backend/controllers/place.ts
  backend/routes/place.ts
Owners: @Albert481, @fattycuty

added places and increase rate limit
  backend/controllers/place.ts
  backend/index.ts
Owners: @Albert481, @fattycuty

SCEL-162-added landmark-photos to return list of photos (#83)
  backend/controllers/place.ts
  backend/index.ts
  backend/routes/place.ts
Owners: @Albert481, @fattycuty

docs/CODEOWNERS:

# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners for more information on CODEOWNERS documentation.

# Team Members
# Project Manager + QA: Seo Jin - @kimtorl
# BE + FE: Jsen - @Jaysenso
# BE + FE: Hazim - @fattycuty
# BE + FE: Miko - @P1935404
# BE + Release: Raghav - @raghavrnair
# Lead + BE: Albert - @Albert481
# QA + Release: Isaac - @isaacchunn

* @isaacchunn

docs        @isaacchunn
README.md   @isaacchunn
scripts     @isaacchunn
labs        @isaacchunn
backend     @Albert481 @fattycuty
frontend    @Jaysenso @P1935404
