Repository isaacchunn/wanderers, changes with the owners that docs/CODEOWNERS names for each.
All owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

fix: cleaned up register, login and confirm-account (#50)
  backend/controllers/activity.ts
  backend/controllers/auth.ts
  backend/lib/httpCodes.ts
  backend/routes/auth.ts
Owners: @Albert481, @fattycuty

add important changes since previous release
  Changelog.md
Owners: @isaacchunn

Removed non front-facing changes and updated specifity of changes
  Changelog.md
Owners: @isaacchunn

added appropriate taggings for changes to improve readability
  Changelog.md
Owners: @isaacchunn

docs: update changelog.md
  Changelog.md
Owners: @isaacchunn

SCEL-117: Update Changelog (#53)
  Changelog.md
Owners: @isaacchunn

docs: add lab2 deliverables
  labs/lab1/README.md
  labs/lab2/In_Lab_Meeting_Minutes.pdf
  labs/lab2/Post_Lab_Meeting_Minutes.pdf
  labs/lab2/Quality_Plan_v.1.3.pdf
  labs/lab2/README.md
  labs/lab2/SRS_v1.0.1.pdf
  labs/lab2/Team Backlog (Lab2).xlsx
  labs/lab2/lab2.md
Owners: @isaacchunn

docs: add docs on pipleine and rename lab readmes
  docs/ci_pipeline.md
  labs/lab3/README.md
  labs/lab4/README.md
  labs/lab5/README.md
Owners: @isaacchunn

docs: update srs v.1.0.2
  labs/lab2/SRS_v1.0.1.pdf
  labs/lab2/SRS_v1.0.2.pdf
Owners: @isaacchunn

SCEL-84: Add lab2 deliverables (#54)
  labs/lab1/README.md
  labs/lab2/In_Lab_Meeting_Minutes.pdf
  labs/lab2/Post_Lab_Meeting_Minutes.pdf
  labs/lab2/Quality_Plan_v.1.3.pdf
  labs/lab2/README.md
  labs/lab2/SRS_v1.0.2.pdf
  labs/lab2/Team Backlog (Lab2).xlsx
  labs/lab2/lab2.md
Owners: @isaacchunn

docs: add ref
  README.md
Owners: @isaacchunn

remove unused file
  labs/lab2/SRS_v1.0.1.pdf
Owners: @isaacchunn

SCEL-118: Update docs in repo to include ci/cd deployment (#55)
  README.md
  docs/ci_pipeline.md
  labs/lab3/README.md
  labs/lab4/README.md
  labs/lab5/README.md
Owners: @isaacchunn

fix: pylint
  scripts/release/generate_release.py
Owners: @isaacchunn

wanderers release v0.0.4 (#56)
  Changelog.md
  scripts/release/generate_release.py
Owners: @isaacchunn

fix: vercel can't deploy to prd
  .github/workflows/vercel.yml
Owners: @isaacchunn

enhanced places route response
  backend/controllers/place.ts
Owners: @Albert481, @fattycuty

Set up full auth routes
  backend/controllers/auth.ts
  backend/routes/auth.ts
  backend/services/token.ts
  backend/services/user.ts
Owners: @Albert481, @fattycuty

SCEL-137-BE-Setup full auth routes: confirm-account, forgot-password, reset-password (#59)
  backend/controllers/auth.ts
  backend/routes/auth.ts
  backend/services/token.ts
  backend/services/user.ts
Owners: @Albert481, @fattycuty

Integrated with backend
  frontend/src/app/(auth)/confirm-account/[token]/page.tsx
  frontend/src/app/(auth)/forget-password/page.tsx
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/(auth)/reset-password/[token]/page.tsx
  frontend/src/components/authenticated-header.tsx
Owners: @Jaysenso, @P1935404

fix lint
  frontend/src/app/(auth)/confirm-account/[token]/page.tsx
  frontend/src/app/(auth)/forget-password/page.tsx
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/reset-password/[token]/page.tsx
Owners: @Jaysenso, @P1935404

fix build errors
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/components/authenticated-header.tsx
Owners: @Jaysenso, @P1935404

Added user route, global user state management, deprecate unauthenticated header
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/navbar.tsx
  frontend/src/providers/UserProvider.tsx
  frontend/src/store/userStore.ts
Owners: @Jaysenso, @P1935404

feat: add environment parse for backend url
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/page.tsx
  frontend/src/lib/activityHandler.ts
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/utils.ts
Owners: @Jaysenso, @P1935404

refactor: move dotenv to utils as entry
  frontend/src/app/page.tsx
  frontend/src/lib/utils.ts
Owners: @Jaysenso, @P1935404

test: add revalidate for static pages
  frontend/src/lib/itineraryHandler.ts
Owners: @Jaysenso, @P1935404

[FE] implemented api calling for integration for itinerary data
  frontend/package-lock.json
  frontend/package.json
  frontend/public/placeholder.svg
  frontend/src/app/create-itinerary/page.tsx
  frontend/src/app/home/page.tsx
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/components/ui/radio-group.tsx
  frontend/src/lib/constants/countries.json
  frontend/src/lib/itineraryHandler.ts
Owners: @Jaysenso, @P1935404

fixed sonarqube issues and other bugs
  Changelog.md
  backend/controllers/auth.ts
  backend/controllers/mail.ts
  backend/controllers/user.ts
  backend/index.ts
  backend/routes/user.ts
  backend/zod/schemas.ts
  frontend/src/app/(auth)/confirm-account/[token]/page.tsx
  frontend/src/app/(auth)/register/page.tsx
Owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

SCEL-136: BE and FE integration for authentication (#60)
  Changelog.md
  backend/controllers/auth.ts
  backend/controllers/mail.ts
  backend/controllers/user.ts
  backend/index.ts
  backend/routes/user.ts
  backend/zod/schemas.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(auth)/confirm-account/[token]/page.tsx
  frontend/src/app/(auth)/forget-password/page.tsx
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/(auth)/reset-password/[token]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/authenticated-header.tsx
  frontend/src/components/navbar.tsx
  frontend/src/providers/UserProvider.tsx
  frontend/src/store/userStore.ts
Owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

add const url for google maps api
  backend/controllers/place.ts
Owners: @Albert481, @fattycuty

SCEL-138: Enhanced places route response to include additional data (#58)
  backend/controllers/place.ts
Owners: @Albert481, @fattycuty

feat: add revalidate such that vercel is still able to render pages
  frontend/src/lib/activityHandler.ts
  frontend/src/lib/itineraryHandler.ts
Owners: @Jaysenso, @P1935404

feat : Added autosave functionality for itinerary title & dates and modularized components in Itinerary page.tsx
  frontend/next.config.ts
  frontend/src/app/create-itinerary/page.tsx
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/activity-container.tsx
  frontend/src/components/autocomplete-search.tsx
  frontend/src/components/calendar.tsx
  frontend/src/components/dropdown-menu.tsx
  frontend/src/components/itinerary-title.tsx
  frontend/src/components/sort
  frontend/src/components/ui/chat-box.tsx
  frontend/src/components/ui/expense-splitter.tsx
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/types.ts
Owners: @Jaysenso, @P1935404

fix : Improved itinerary title update ux
  frontend/src/components/itinerary-title.tsx
  frontend/src/lib/itineraryHandler.ts
Owners: @Jaysenso, @P1935404

SCEL-147: Configure routes to backend to be from the environment (#61)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/activityHandler.ts
  frontend/src/lib/itineraryHandler.ts
  frontend/src/lib/utils.ts
Owners: @Jaysenso, @P1935404

feat : Added Auth functionality to fetch user's itineraries
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/home/page.tsx
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/chat-box.tsx
  frontend/src/components/itinerary-carousel.tsx
  frontend/src/components/navbar.tsx
  frontend/src/lib/itineraryHandler.ts
  frontend/src/providers/UserProvider.tsx
  frontend/src/store/userStore.ts
Owners: @Jaysenso, @P1935404

feat : Added Itinerary create operation
  frontend/src/app/create-itinerary/page.tsx
  frontend/src/app/itinerary/[id]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/country-search.tsx
  frontend/src/components/create-itinerary-calendar.tsx
  frontend/src/components/email-input.tsx
  frontend/src/components/update-itinerary-calendar.tsx
  frontend/src/components/visibility-selector.tsx
  frontend/src/lib/itineraryHandler.ts
Owners: @Jaysenso, @P1935404

refactor : Minor code refactoring
  frontend/src/app/create-itinerary/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/update-itinerary-calendar.tsx
Owners: @Jaysenso, @P1935404

fix : temp disable unused vars eslint errors
  frontend/src/components/chat-box.tsx
  frontend/src/components/ui/expense-splitter.tsx
Owners: @Jaysenso, @P1935404

fixed sonarqube issues
  backend/controllers/user.ts
  frontend/src/app/(auth)/register/page.tsx
Owners: @Albert481, @fattycuty, @Jaysenso, @P1935404

docs/CODEOWNERS:

# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners for more information on CODEOWNERS documentation.

# Team Members
# Project Manager + QA: Seo Jin - @kimtorl
# BE + FE: Jsen - @Jaysenso
# BE + FE: Hazim - @fattycuty
# BE + FE: Miko - @P1935404
# BE + Release: Raghav - @raghavrnair
# Lead + BE: Albert - @Albert481
# QA + Release: Isaac - @isaacchunn

* @isaacchunn

docs        @isaacchunn
README.md   @isaacchunn
scripts     @isaacchunn
labs        @isaacchunn
backend     @Albert481 @fattycuty
frontend    @Jaysenso @P1935404
