Repository isaacchunn/wanderers, changes with the owners that docs/CODEOWNERS names for each.
All owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

wanderers release v0.0.3 (#23)
  Changelog.md
Owners: @isaacchunn

test
  frontend/vercel.text
Owners: @Jaysenso, @P1935404

adsada
  frontend/src/app/page.tsx
Owners: @Jaysenso, @P1935404

SCEL-49: more and responsive pages
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/budget/page.tsx
  frontend/src/app/discussion/page.tsx
  frontend/src/app/itinerary/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/register/page.tsx
  frontend/src/components/site-footer.tsx
  frontend/src/components/site-header.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/tailwind.config.ts
Owners: @Jaysenso, @P1935404

feat: add create itinerary page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/budget/page.tsx
  frontend/src/app/discussion/page.tsx
  frontend/src/app/itinerary/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/plan/create-plan/page.tsx
  frontend/src/components/authenticated-header.tsx
  frontend/src/components/site-footer.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/unauthenticated-header.tsx
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Owners: @Jaysenso, @P1935404

fix: fixed dependencies issues
  frontend/package-lock.json
  frontend/package.json
Owners: @Jaysenso, @P1935404

fix : Upgraded react-day-picker version
  frontend/package-lock.json
  frontend/package.json
Owners: @Jaysenso, @P1935404

Revert "fix : Upgraded react-day-picker version"
  frontend/package-lock.json
  frontend/package.json
Owners: @Jaysenso, @P1935404

docs: update readme
  README.md
Owners: @isaacchunn

Update readme.md with information (#28)
  README.md
Owners: @isaacchunn

docs: add lab1 deliverables
  labs/lab1/In_Lab_Meeting_Minutes.pdf
  labs/lab1/Post_Lab_Meeting1_Minutes.pdf
  labs/lab1/Post_Lab_Meeting2_Minutes.pdf
  labs/lab1/Project Proposal.pdf
  labs/lab1/Team Backlog (Lab1).xlsx
  labs/lab1/Use_Case_Descriptions.pdf
  labs/lab1/Use_Case_Diagram.pdf
  labs/lab1/lab1.md
Owners: @isaacchunn

SCEL-54: Add lab1 deliverables (#30)
  labs/lab1/In_Lab_Meeting_Minutes.pdf
  labs/lab1/Post_Lab_Meeting1_Minutes.pdf
  labs/lab1/Post_Lab_Meeting2_Minutes.pdf
  labs/lab1/Project Proposal.pdf
  labs/lab1/Team Backlog (Lab1).xlsx
  labs/lab1/Use_Case_Descriptions.pdf
  labs/lab1/Use_Case_Diagram.pdf
  labs/lab1/lab1.md
Owners: @isaacchunn

fix : fixed calendar layout
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/calendar.tsx
Owners: @Jaysenso, @P1935404

fix : added newline at EOF
  frontend/next.config.ts
Owners: @Jaysenso, @P1935404

SCEL-49: setup framework for different pages (#27)
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/budget/page.tsx
  frontend/src/app/discussion/page.tsx
  frontend/src/app/itinerary/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/plan/create-plan/page.tsx
  frontend/src/app/register/page.tsx
  frontend/src/components/authenticated-header.tsx
  frontend/src/components/site-footer.tsx
  frontend/src/components/site-header.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/unauthenticated-header.tsx
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Owners: @Jaysenso, @P1935404

feat: add foundation for itinerary page layout and structure
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/itinerary/actions.ts
  frontend/src/app/itinerary/page.tsx
  frontend/src/components/ui/chat-box.tsx
  frontend/src/components/ui/expense-splitter.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/sortable-location-card.tsx
Owners: @Jaysenso, @P1935404

fix : deleted duplicate login page
  frontend/src/app/login/page.tsx
Owners: @Jaysenso, @P1935404

fix : deleted duplicate register page
  frontend/src/app/register/page.tsx
Owners: @Jaysenso, @P1935404

chore: move language-specific files into respective folders
  backend/package-lock.json
  backend/package.json
  scripts/.gitignore
  scripts/requirements.txt
Owners: @Albert481, @fattycuty, @isaacchunn

Revert "chore: move language-specific files into respective folders"
  package-lock.json
  package.json
  requirements.txt
  scripts/.gitignore
Owners: @isaacchunn

chore: move package json into backend folder
  backend/package-lock.json
  backend/package.json
Owners: @Albert481, @fattycuty

feat: add deployment.yml
  .github/workflows/development.yml
  frontend/.eslintrc.json
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
Owners: @isaacchunn, @Jaysenso, @P1935404

feat: add workflows
  .github/workflows/development-be.yml
  .github/workflows/development-fe.yml
  .github/workflows/pylint.yml
Owners: @isaacchunn

test: development workflow
  .github/workflows/development-be.yml
  .github/workflows/development-fe.yml
  frontend/package.json
Owners: @isaacchunn, @Jaysenso, @P1935404

chore: update action version
  .github/workflows/development-fe.yml
Owners: @isaacchunn

refactor: slim down development yml
  .github/workflows/development-fe.yml
  .github/workflows/development.yml
Owners: @isaacchunn

refactor: rename variables to make ci step visible
  .github/workflows/development.yml
Owners: @isaacchunn

feat: add conditional pylint
  .github/workflows/development.yml
  .github/workflows/pylint.yml
Owners: @isaacchunn

force: pylint check
  scripts/docs/compliance.md
Owners: @isaacchunn

force: eslint check
  .github/workflows/development.yml
  frontend/src/components/authenticated-header.tsx
  scripts/docs/compliance.md
Owners: @isaacchunn, @Jaysenso, @P1935404

force: eslint check
  .github/workflows/development.yml
  frontend/src/components/unauthenticated-header.tsx
Owners: @isaacchunn, @Jaysenso, @P1935404

fix: linting errors
  .github/workflows/development.yml
  frontend/src/app/page.tsx
  frontend/src/components/authenticated-header.tsx
  frontend/src/components/unauthenticated-header.tsx
Owners: @isaacchunn, @Jaysenso, @P1935404

fix : fixed register & login page misalignment
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/layout.tsx
Owners: @Jaysenso, @P1935404

chore: change ci check name
  .github/workflows/development.yml
Owners: @isaacchunn

remove test comments
  frontend/src/components/authenticated-header.tsx
  frontend/src/components/unauthenticated-header.tsx
Owners: @Jaysenso, @P1935404

fix : set fixed height to login & register page
  frontend/src/app/(auth)/login/page.tsx
  frontend/src/app/(auth)/register/page.tsx
  frontend/src/app/itinerary/page.tsx
  frontend/src/app/layout.tsx
Owners: @Jaysenso, @P1935404

fix : removed unnecessary delay in itinerary actions
  frontend/src/app/itinerary/actions.ts
Owners: @Jaysenso, @P1935404

fix : more descriptive variables in login page
  frontend/src/app/(auth)/login/page.tsx
Owners: @Jaysenso, @P1935404

SCEL-90: Add CI/CD check for running tests and ESLint (#32)
  .github/workflows/development.yml
  .github/workflows/pylint.yml
  backend/package-lock.json
  backend/package.json
  frontend/.eslintrc.json
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/page.tsx
  frontend/src/components/authenticated-header.tsx
  frontend/src/components/unauthenticated-header.tsx
Owners: @isaacchunn, @Albert481, @fattycuty, @Jaysenso, @P1935404

fix : added placeholders for unused vars to prevent ESLint warnings
  frontend/src/app/itinerary/actions.ts
  frontend/src/app/itinerary/page.tsx
  frontend/src/components/ui/chat-box.tsx
  frontend/src/components/ui/expense-splitter.tsx
Owners: @Jaysenso, @P1935404

docs/CODEOWNERS:

# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners for more information on CODEOWNERS documentation.

# Team Members
# Project Manager + QA: Seo Jin - @kimtorl
# BE + FE: Jsen - @Jaysenso
# BE + FE: Hazim - @fattycuty
# BE + FE: Miko - @P1935404
# BE + Release: Raghav - @raghavrnair
# Lead + BE: Albert - @Albert481
# QA + Release: Isaac - @isaacchunn

* @isaacchunn

docs        @isaacchunn
README.md   @isaacchunn
scripts     @isaacchunn
labs        @isaacchunn
backend     @Albert481 @fattycuty
frontend    @Jaysenso @P1935404
